<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <!-- Chamando o CSS direto da raiz -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;600&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <!-- Puxa o cabeçalho da pasta _includes -->
    {% include header.html %}

    <!-- AQUI É A MÁGICA: Injeta o conteúdo do index.html -->
    {{ content }}

    <!-- Puxa o rodapé da pasta _includes -->
    {% include footer.html %}


    <script>
    window.addEventListener('scroll', function() {
        const header = document.querySelector('.header-container');
        if (window.scrollY > 30) {
            header.classList.add('scrolled');
        } else {
            header.classList.remove('scrolled');
        }
    });
    </script>
    
</body>
</html>